* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #161616;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 450px;
    background-color: #202020;
    border-top: 2px solid #3b3b3b;
    color: #e1e1e1;
    border-radius: 20px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adds uniform spacing between elements */
}

.wrapper img.logo {
    display: block;
    margin: 0 auto; /* Center the logo */
    width: 100px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin-bottom: 10px;
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 400;
}

.wrapper h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.wrapper .input-box {
    position: relative;
    width: 350px;
    height: 45px;
    margin: 15px 0;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #252525;
}

.wrapper .input-box{
    box-shadow: inset 0 0 0 1px #252525;
}

.input-box i {
    color: #e1e1e1;
    font-size: 20px;
    margin-right: 5px;
    padding-left: 5px;
}

.input-box input {
    width: calc(100% - 30px); /* Adjust width to leave space for the icon */
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    color: #e1e1e1;
    padding-left: 10px;
    font-weight: 500;
}

.input-box input::placeholder {
    color: #8b8b8b;
    font-size: 15px;
    font-weight: 500;
}

.wrapper .btn {
    width: 350px; /* Set the width of the button */
    height: 45px;
    background: #e1e1e1;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: 700;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #e1e1e1;
    margin-right: 3px;
}

.remember-forgot a {
    color: #e1e1e1;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #e1e1e1;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
