* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #161616;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 500px;
    background-color: #202020;
    border-top: 2px solid #3b3b3b;
    color: #e1e1e1;
    border-radius: 20px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adds uniform spacing between elements */
    height: auto;
}

.wrapper img.logo {
    display: block;
    margin: 0 auto; /* Center the logo */
    width: 100px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin-bottom: 10px;
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
}

.wrapper h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.wrapper .input-box {
    position: relative;
    width: 100%; /* Set the width to fill the container */
    height: 45px;
    margin-bottom: 10px; /* Adjust the margin for better spacing */
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #252525;
}

.input-box i {
    color: #e1e1e1;
    font-size: 20px;
    margin-right: 5px;
    padding-left: 5px;
}

.input-box input {
    width: calc(100% - 30px); /* Adjust width to leave space for the icon */
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    color: #e1e1e1;
    padding-left: 10px;
    font-weight: 500;
}

.no-acc {
    text-align: center;
    font-size: 12px;
    color: #8B8B8B;
    margin-bottom: 30px;
    font-weight: 500;
}

.no-acc a {
    text-decoration: none;
    color: #e1e1e1;
}

.no-acc a:hover {
    color: steelblue;
    transition: ease-in 0.3s;
}

.input-box input::placeholder {
    color: #8b8b8b;
    font-size: 15px;
    font-weight: 500;
}

.wrapper .btn {
    width: 100%; /* Set the width to fill the container */
    height: 45px;
    background: #e1e1e1;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
    color: #212121;
    font-weight: 700;
    margin-top: 20px; /* Add margin to space out the button from the input boxes */
}

.wrapper .btn:hover {
    background-color: #353535;
    color: #e1e1e1;
    transition: ease-in 0.3s;
}

.label{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.error-message{
    text-align: center;
}